@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$dark-red: rgb(119, 27, 27);
$red: rgb(202, 0, 0);
$black: black;
$whiteSmoke: whiteSmoke;
$gray: gray;

.header {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  padding: 12px;
  height: 61px;
}

.main {
  height: calc(100vh - 61px);
}

.mainContainer {
  display: flex;
}

.container {
  display: flex;
  margin: 2px;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100vw;
}

.left {
  width: 20rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.5rem;
}

.right {
  width: 100%;
}

.rightContent {
  border: 1px solid black;
  padding: 1rem;
  margin: 0 12px;
  border-radius: 0.5rem;
}

.button {
  width: 15rem;
  height: 2rem;
  cursor: pointer;
  background-color: $black;
  color: $whiteSmoke;
  border: $black;
  font-family: 'Roboto';
}

.input{
  width: 15rem;
  height: 2rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid $gray;
  margin: 5px 0;
}

.saveBtn{
  width: 15rem;
  height: 2rem;
  cursor: pointer;
  background-color: $dark-red;
  color: $whiteSmoke;
  border: $dark-red;
  font-family: 'Roboto';
}

.ReactQuill{
  width: 15rem;
}

.notesInner{
  margin-top: 0.5rem;
  border: 1px solid $dark-red;
  border-radius: 10px;
  width: 15rem;
  cursor: pointer;
  font-family: "Roboto";
  padding: 20px;
}

.notesInner:hover{
  background-color: rgb(119, 27, 27);
  color: $whiteSmoke;
}

.editBtn, .deleteBtn{
  width: 5rem;
  height: 2rem;
  background-color: rgb(119, 27, 27);
  color: $whiteSmoke;
  border: none;
  cursor: pointer;
  margin: 10px 10px 10px 0;
}

.deleteBtn {
  background-color: $red;
}